**{
    margin: 0%;
    padding: 0%;
}


.cabeçalho {
    background-color: #be2929;
    background-image: linear-gradient(to bottom, #3EBE29, #86da9b);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}


.cabeçalho-imagem{
    width: 10%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 5 15px;
    font-size: 24px;
}

.cabecalho-lista {
    list-style: none; 
    margin: 0;
    padding: 0;
}
.escola-imagem{
    width: 25%;
}
.escola{
    color: black;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 24px 0;    
}

.escola-div-conteudo{
    width: 25%;
}
.escola-titulo{
    padding: 24px 0;
}